.buy
  .buy__header
    .buy__header__title
      You want to buy?
  .buy__introduce
    .buy__introduce__picture
      = image_tag 'logo_xeno.jpg', alt: 'product', height: '360px', width: '250px', class: 'card'
    .buy__introduce__sentence
      .buy__introduce__sentence__letter
        ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく
      = link_to 'https://www.amazon.co.jp/', class: 'image' do
        = image_tag 'buy.jpg', alt: 'background', height: '70px', width: '100px'
