.buy
  .buy__header
    .buy__header__title
  .buy__introduce
    .buy__introduce__picture
      = image_tag 'logo_xeno.jpg', alt: 'product', height: '120px', width: '100px', class: 'card'
    .buy__introduce__sentence
      .buy__introduce__sentence__letter
        ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく：ここに紹介文を書いていく
      = link_to 'https://www.amazon.co.jp/', class: 'buy__header__image' do
        = image_tag 'buy.jpg', alt: 'background', height: '100%', width: '100%'
