.subscription
  .subscription__header
    .subscription__header__title
      Subscription
  .subscription__form
    .subscription__form-separate
      .subscription__form-separate__name
        NickName
      .subscription__form-separate__password
        パスワードを入力してください
      .subscription__form-separate__confirmation
        もう一度入力してください