*{
  box-sizing: border-box;
}

.buy{
  height: 100vh;
  width: 100vw;

  &__header{
    background-color: rgba(10,10,10,0.23);
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;

    &__menu{
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      margin: 0 120px;

      &__logo{
      }
    }
  }

  &__introduce{
    height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    position: absolute;
    top: 150px;
    &__picture{
      width: 720px;
      display: flex;
      justify-content: center;
      align-items: center;

      .card{

      }
    }
    &__sentence{
      width: 720px;
      text-align: center;

      &__letter{
        height: 450px;
        border: double;
        margin: 15px 100px;
        padding: 60px;

        .image{

        }
      }
    }
  }
}

