@mixin color {
  color: #ffffff;
}


*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  @include color;
}



.contents{
  height: 100%;
  width: 100vw;
  &__header{
    background-color: rgba(10,10,10,0.23);
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;

    &__menu{
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      margin: 0 120px;

      &__logo{
      }
    }
  }

  &__name{
    height: calc(100% - 150px);
    width: 100vw;
    position: absolute;
    top: 100px;

    &__letter{
      height: 100%;
      width: 100%;

      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &__box{
        &__title{
        font-size: 60px;
        }

        &__quote{
          font-size: 20px;
        }
      }
    }
  }
}


.btn{
  display: contents;
  font-size: 15px;

  &-description{
  transition: all  0.5s ease;
  @include color;
  text-decoration: none;
  }

  &-buy{
    transition: all  0.5s ease;
    @include color;
    text-decoration: none;
  }

  &-post{
    transition: all  0.5s ease;
    @include color;
    text-decoration: none;
  }
}

.user{
  @include color;
  text-decoration: none;
  font-size: 15px;
  transition: all  0.5s ease;
  &__name{

  }
}


a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
a:hover::after {
  bottom: -0px;
  opacity: 1;
  visibility: visible;
}

.explain{
  height: 100%;
  width: 100vw;
  color: black;
  &__box{
    height: 100%;
    width: 100%;
    padding: 50px 100px;
    &__card{
      display: flex;
      justify-content: center;
      &__figure{
        margin-left: 70px;
      }
      &__game{
        line-height: 500px;
        text-align: center;
      }
    }
  }
}

.footer{
  background-color: #000000;
  height: 80px;
  bottom: 0px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  &__logo{
    font-size: 50px;
    position: absolute;
    right: 350px;
  }

  &__form{
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    }

  &__name{
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 120px;
    }
}


