.about
  = image_tag 'scene.jpg', alt: 'background', height: '100%', width: '100%'
  .about__header
    = image_tag 'logo_xeno.jpg', alt: 'mark', height: '120px', width: '100px', class: 'about__header__logo'
    .about__header__title
      About  us
  .about__us
    .about__us__introduce